@using ForumApp.Web.ViewModels.Categories
@model CategoriesListViewModel

@foreach (var category in Model.Categories)
{
    // TODO: add anchor wrapper for the whole category with the custom Url
    <a href="@category.Url">
    <article class="single-category">
        <article class="single-category-img-wrapper">
           @* TODO: add img*@
        </article>
        <article class="single-category-title">
            @category.Title
        </article>
    </article>
    </a>
}