@using ForumApp.Web.ViewModels.SubCategories
@model SubCategoriesInCategoryViewModel


<section class="byName-subCategory">
    <article class="byName-subCategory-title">
        <h2>@Model.Title</h2>
    </article>
    <article class="byName-subCategory-title"></article>
   @Model.Description
</section>