@using ForumApp.Web.ViewModels.SubCategories
@model SubCategoryPostInputModel

@{
    ViewData["Title"] = "Create new community";
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-action="Create">

</form>